@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 20px 0;
    padding: 0;
}

.tree {
    display: table;
    margin: 0 auto;
}

.tree li {
    list-style-type: none;
    margin: 10px;
    position: relative;
}

.tree li::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 0px;
    width: 20px;
    height: 15px;
}

.tree li::after {
    position: absolute;
    content: "";
    top: 8px;
    left: -20px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 0px 0 0 0;
    width: 20px;
    height: 100%;
}

.tree li:last-child::after {
    display: none;
}

.tree li:last-child:before {
    border-radius: 0 0 0 5px;
}

ul.tree > li:first-child::before {
    display: none;
}

ul.tree > li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 2px 5px;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding-left: 20px;
    display: none;
}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu .title::before {
    content: '▶ ';
    font-size: 80%;
    color: green;
}

.menu.open .title::before {
    content: '▼ ';
}

.menu.open ul {
    display: block;
}
